@page "/shop-item-image-content-page/{ImageUrl}"

<div class="row">
    <div class="col-12">
        <div class="row col-12">
            <RadzenImage Path="@((string)ImageUrl)" Style="display: block; text-align: center; padding: 8px; margin: 8px"></RadzenImage>
        </div>
    </div>
</div>