@using BlazorApp.Shared;


<section class="py-5">
    <div class="container">
        <div class="row text-left p-2 pb-3">
            <h4>Related Products</h4>
        </div>

    </div>
</section>

@code {

    [Parameter]
    public long? ItemId { get; set; }

    [CascadingParameter(Name = "DataSwanShop")]
    protected SwanShop? data { get; set; }

    private List<SwanShopImage> _listDataCarousel = new List<SwanShopImage>();

    protected override void OnParametersSet()
    {
        if (data != null && data.Articles != null && data.Articles.Count > 0 && data.Images != null && data.Images.Count > 0)
        {
            var categorie = data.Articles.Where(x => x.Id == ItemId).FirstOrDefault();
            if (categorie != null)
            {
                var listArticlesId = data.Articles.Where(x => x.CategorieId == categorie.CategorieId && x.Id != ItemId).Select(y => y.Id).ToList();
                if (listArticlesId != null)
                {
                    foreach(var articleId in listArticlesId)
                    {
                        var itemDatas = data.Images.Where(x => x.ArticleId == articleId).ToList();
                        if (itemDatas != null && itemDatas.Count() > 0)
                        {
                            _listDataCarousel.Clear();
                            _listDataCarousel.AddRange(itemDatas);
                        }
                    }
                }                
            }            
        }
    }
}

